#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.personal {
  width: 40%;
  float: left;
  /* padding: 2em; */
  margin: 2em;
}

.professional {
  width: 50%;
  float: right;
}