body {
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
}

.personal {
  width: 40%;
  float: left;
  margin: 2em;
  position: sticky;
  top: 0;
}

.professional {
  width: 50%;
  float: right;
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  margin-top: 2em;
  margin-bottom: 2em;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .personal {
    /* float: right; */
    width: 100%;
  }

  .professional {
    /* float: left; */
    width: 100%;
  }
}